{% extends 'base.html.twig' %}

{% block title %}New PlannedTrainings{% endblock %}

{% block body %}
    <h1>Create new PlannedTrainings</h1>

    {{ include('planned_trainings/_form.html.twig') }}

    <a href="{{ path('app_planned_trainings_index') }}">back to list</a>
{% endblock %}
