{% extends 'base.html.twig' %}

{% block title %}Проверки на предмет соблюдения ОТ{% endblock %}

{% block body %}
    <h1>Создать запись о проверке</h1>

    {{ include('check_requirements_work/_form.html.twig') }}

    <a href="{{ path('app_check_requirements_work_index') }}">Вернуться к списку</a>
{% endblock %}
