{% extends 'base.html.twig' %}

{% block title %}New ExamResults{% endblock %}

{% block body %}
    <h1>Create new ExamResults</h1>

    {{ include('exam_results/_form.html.twig') }}

    <a href="{{ path('app_exam_results_index') }}">back to list</a>
{% endblock %}
