{% extends 'base.html.twig' %}

{% block title %}New ViolationsRulesSafe{% endblock %}

{% block body %}
    <h1>Create new ViolationsRulesSafe</h1>

    {{ include('violations_rules_safe/_form.html.twig') }}

    <a href="{{ path('app_violations_rules_safe_index') }}">back to list</a>
{% endblock %}
